Flask
mysql-connector-python
pandas
matplotlib
seaborn
xlsxwriter
gunicorn
psycopg2
openpyxl
requests
pdfkit
weasyprint
paynow
apscheduler
bleach
google-generativeai>=0.8.0
protobuf>=5.27.0
google-api-core>=2.19.0
Flask-CORS
psycopg2-binary
pytz
Flask-SocketIO
Flask-Caching
scikit-learn
statsmodels
numpy
python-socketio
fuzzywuzzy
python-Levenshtein
